.hero-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  scroll-snap-align: center;
}

.video-container {
  border-radius: 20px;
}
.videos {
  display: grid;
  grid-template-rows: repeat(18, 25px);
  grid-template-columns: repeat(28, 25px);
}

#video-one {
  grid-row: 1/12;
  grid-column: 1/16;
  outline: 25px solid var(--background-color);
}

#video-two {
  grid-row: 2/7;
  grid-column: 16/26;
  position: relative;
  bottom: 0;
}

#video-three {
  grid-row: 10/18;
  grid-column: 3/10;
}

#video-four {
  grid-row: 8/20;
  grid-column: 12/28;
  z-index: -1;
}

.hero-text {
  font-size: 5rem;
  color: var(--primary-green);
}
