header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  padding: 4px 24px;
  box-shadow: var(--my-shadow);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
}

#header-logo {
  height: 96px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
